.film-details-wrap {

    .film-item {
        width: 100%;
        height: auto;
        padding: 20px;
        overflow: hidden;
    }

    .film-item-pic img {
        max-width: 470px;
        width: 100%;
        height: auto;
        border: 9px solid #262625;
        display: block;
    }

    .film-item-txt {
        width: 100%;
        min-height: 555px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3), 0 0 50px 0 rgba(0, 0, 0, 0.4) inset;
        // background-color: #f18720;
        background: url(../../../public/img/bg_menu_hover.png) repeat scroll center center rgba(0, 0, 0, 0);
        padding: 30px 40px;

    }

    .film-item-txt h3 {
        font-family: 'Futurab';
        font-weight: normal;
        font-size: 28px;
        text-transform: uppercase;
        line-height: 30px;
        color: #fff;
        text-align: left;
        margin-bottom: 30px;
    }

    .film-overview {
        max-height: inherit;
        overflow: inherit;
        display: table;
        margin-bottom: 10px;
    }

    .l-title {
        display: table-cell;
        width: 100px;
        font-family: 'MyriadLight';
        font-weight: normal;
        font-size: 18px;
        vertical-align: middle;
        color: #fff;
    }

    ;

    .l-value {
        display: table-cell;
        line-height: 18px;
        background-color: #fff;
        font-family: 'MyriadBold';
        font-weight: normal;
        font-size: 20px;
        color: #000;
        border-radius: 20px 0 20px 0;
        -webkit-border-radius: 20px 0 20px 0;
        padding: 12px 30px;
        vertical-align: middle;
    }

    ;

    .film-item-type {
        width: 100%;
        margin-bottom: 15px;
    }

    .film-item-txt p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        line-height: 20px;
        text-align: left;
        margin-bottom: 10px;
    }

    .icon-2d {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(../../../public/img/nav-icon-2d.png) no-repeat center center;
        background-size: contain;
        -webkit-background-size: contain;
    }

    .l-comment {
        display: inline-block;
        width: 42px;
        height: 42px;
        background: url(../../../public//img/start-comment.png) no-repeat center center;
        vertical-align: middle;
        margin-left: -3px;
    }

    .film-item-btn {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .trailler-btn {
        font-family: 'Futurab';
        font-weight: normal;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        line-height: 52px;
        height: 52px;
        display: inline-block;
        vertical-align: middle;
        width: 180px;
        background: rgba(0, 0, 0, 0.5) url(../../../public/img/icon-play.png) no-repeat -14px center;
        text-align: left;
        padding-left: 52px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin: 5px 2px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .cart-btn {
        background-color: #e00d7a;
        font-family: 'Futurab';
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 30px;
        color: #fff;
        border-radius: 30px 0 30px 30px;
        -webkit-border-radius: 30px 0 30px 30px;
        line-height: 52px;
        padding: 0 20px;
        height: 52px;
        display: inline-block;
        vertical-align: middle;
        width: 146px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin: 5px 2px;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .film-details-wrap .film-overview .l-value {
        font-size: 14px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
    .film-details-wrap .l-title {
        font-size: 17px;
    }

    .film-details-wrap .film-overview .l-value {
        font-size: 14px;
    }

    .film-details-wrap .film-item-txt p {
        font-size: 14px;
    }

    .film-details-wrap .l-comment {
        width: 30px;
        height: 30px;
    }

    .text-time {
        font-size: 14px;
    }
}

@media (min-width: 458px) and (max-width: 575.90px) {}

@media (max-width: 400px) {}
