// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .main-movie {

        .main {
            width: 100%;
        }
    };
    .ticket-head {
        width: 95%;
    };
    .page-header .header-search {
        top: 8px;
    }

}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 


}
// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) { 
    .main-movie .page-title.category-title .btn-group-isotope .btn-sm {
        padding: 6px 22px;
    }
}
@media (min-width: 458px) and (max-width: 575.90px) {
    .main-movie {

        .main {
            width: 80%;
        }
    };
    .ticket-head {
        width: 78%;
    }
}
@media (max-width: 400px) { 
    .main h6 {
        margin-top: 30%;
    }
    .ticket-container {
        width: 250px;
    };
    .ticket__movie-slogan {
       font-size: 14px;
        margin-bottom: 26px;
        font-weight: 600;
        width: 100%;
    }

}